<header>
    {{!-- {{#if @site.logo}}
        <p><a class="blog-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="Blog Logo" /></a></p>
        {{else}}
        <p><a class="logo" href="{{@site.url}}">{{@site.title}}</a></p>
        {{/if}} --}}

    <p><a class="logo" href="{{@site.url}}">{{@site.title}}</a></p>
    {{navigation}}
</header>